/* Reset default margins and padding */
*{
    margin: 0px;
    padding: 0px;
}
/* body, h1, h2, p {
    margin: 0;
    padding: 0;
} */
img{
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 30px;
    border-radius: 100px;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #f3922b;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 250px;
    width: 100%;
    /* position:fixed;
    z-index: 1; */
    
}
h1{
    text-shadow: 2px 2px black;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 9, 11);
}

section {
    padding: 2rem;
    background-color: rgba(104, 143, 233, 0.441);
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}
